/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  width: 52em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site header a {
  font-weight: bold;
  text-decoration: none;
}

.site header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site header h1.title a {
  color: #a00;
}

.site header h1.title a:hover {
  color: #000;
}

.site header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site header a.extra:hover {
  color: #000;
}

.site .main-container {
  overflow: hidden;
}

.site article, .site nav {
  float: left;
  padding-bottom: 1000em;
  margin-bottom: -999.5em;
}

.site article {
  width: 70%;
}

.site nav {
  width: 30%;
}

.site nav ul {
  padding: 0px 15px;
  list-style: none;
  text-align: left;
}

.site footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
