<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <header>
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              <a class="extra" href="/">Behaviour Driven Development for Ruby</a>
            </header>

            <div class="main-container">
              <article>
                  {{ content }}
              </article>

              <nav>
                <ul>
                  <li><a href="/">Welcome</a></li>

                  <li><a href="/why-tdd">Why TDD?</a></li>

                  <li>
                    <a href="/getting-started">Getting Started</a>
                    <ul>
                      <li><a href="/getting-started/with-rspec-and-rails">...with RSpec and Rails</a></li>
                      <li><a href="/getting-started/with-rspec-and-a-gem">...with RSpec and a Gem</a></li>
                    </ul>
                  </li>

                  <li>
                    <a href="/expectations">Expectations</a>
                    <ul>
                      <li><a href="/expectations/built-in-matchers">Built-in matchers</a></li>
                      <li><a href="/expectations/how-to-build-your-own-matcher">How to build your own matcher</a></li>
                      <li><a href="/expectations/gems-with-additional-matchers">Gems with additional matchers</a></li>
                    </ul>
                  </li>

                  <li><a href="/subject">Subject</a>

                  <li>
                    <a href="/testing-in-isolation">Testing in Isolation</a>
                    <ul>
                      <li><a href="/testing-in-isolation/mocks-vs-stubs">Mocks vs. Stubs</a></li>
                    </ul>
                  </li>

                  <li>
                    <a href="/rspec-and-rails">RSpec and Rails</a>
                    <ul>
                      <li><a href="/rspec-and-rails/model-specs">Model Specs</a></li>
                      <li><a href="/rspec-and-rails/controller-specs">Controller Specs</a></li>
                      <li><a href="/rspec-and-rails/request-specs">Request Specs</a></li>
                      <li><a href="/rspec-and-rails/feature-specs">Feature Specs</a></li>
                      <li><a href="/rspec-and-rails/view-specs">View Specs</a></li>
                      <li><a href="/rspec-and-rails/helper-specs">Helper Specs</a></li>
                      <li><a href="/rspec-and-rails/mailer-specs">Mailer Specs</a></li>
                      <li><a href="/rspec-and-rails/routing-specs">Routing Specs</a></li>
                    </ul>
                  </li>

                  <li>
                    <a href="/ecosystem">Ecosystem</a>
                    <ul>
                      <li><a href="/ecosystem/cucumber">Cucumber</a></li>
                      <li><a href="/ecosystem/capybara">Capybara</a></li>
                      <li><a href="/ecosystem/vcr">VCR</a></li>
                      <li><a href="/ecosystem/metrics">Metrics</a></li>
                      <li><a href="/ecosystem/mocking-frameworks">Mocking Frameworks</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>

            <footer>
              <p>
                <strong>This page is not official. It is a proposal to the RSpec Core Team by Lucas Dohmen</strong>
                (<a href="http://github.com/moonglum/rspec-homepage">Source</a>)<br />
              </p>
              </div>
            </footer>
          </div>
        </div> <!-- /container -->
    </body>
</html>
